* {
  all: unset;
  box-sizing: border-box;
  color: inherit;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

head,
link,
meta,
style,
title,
script {
  display: none;
}

a,
abbr,
b,
bdi,
bdo,
br,
cite,
code,
data,
dfn,
em,
i,
kbd,
mark,
q,
rp,
rt,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
u,
var,
wbr {
  display: inline;
}

// Fix performance regression for `display: grid` input elements
input {
  display: block;
}

// Sensible default
p {
  display: block;
}

em {
  font-style: italic;
}

strong, dd {
  font-weight: 700;
}

/*
dt {
  display: block;

  &::after {
    content: ": ";
    white-space: pre;
  }
}
*/

dd {
  display: inline-grid;
  grid-template-columns: max-content max-content;
  align-items: flex-end;
  
  &::before {
    font-weight: 400;
    content: ": ";
    white-space: pre;
  }
}

:root {
  font-family: "Roboto", sans-serif;

  // Blue gray
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;

  --polar-night-0: #2e3440;
  --polar-night-1: #3b4252;
  --polar-night-2: #434c5e;
  --polar-night-3: #4c566a;

  --snow-storm-2: #d8dee9;
  --snow-storm-1: #e5e9f0;
  --snow-storm-0: #eceff4;

  --frost-0: #8fbcbb;
  --frost-1: #88c0d0;
  --frost-2: #81a1c1;
  --frost-3: #5e81ac;

  --aurora-red: #bf616a;
  --aurora-orange: #d08770;
  --aurora-yellow: #ebcb8b;
  --aurora-green: #a3be8c;
  --aurora-purple: #b48ead;

  color: var(--polar-night-3);

  background-color: var(--snow-storm-0);
}

.hidden {
  opacity: 0;
  position: absolute;
  left: -100vw;
}

.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

.noto {
  font-family: "Noto Sans JP", sans-serif;
}

.text {
  display: block;
}

.text-line {
  display: inline-grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: flex-end;
}

.passthrough {
  display: contents;
}