.root {
    grid-template-columns: 2rem 1fr;
}

.list {
    grid-template-columns: repeat(auto-fill, 2rem);
    grid-auto-rows: 2rem;
    padding: 0.5rem;
    display: contents;
}

.strokes {
    align-items: center;
    justify-items: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--gray-300);
    font-weight: 700;
}

.checkbox {
    align-items: center;
    justify-items: center;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-200);
    }
    
    &:active {
        background-color: var(--gray-300);
    }
}

input:checked + .checkbox {
    background-color: var(--gray-200);
}